
.wmd-panel
  {
  margin-left: 25%;
  margin-right: 25%;
  width: 76%;
  display: inline-block;
}

.wmd-button-bar
  {
  width: 100%;
  background-color: Silver;
}

.wmd-input
  {
  height: 300px;
  width: 100% !important;
}

.wmd-preview
  {
  background-color: #c0e0ff;
}

.wmd-button-row
  {
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
  padding: 0px;
  height: 20px;
}

.wmd-spacer
  {
  width: 1px;
  height: 20px;
  margin-left: 14px;

  position: absolute;
  background-color: Silver;
  display: inline-block;
  list-style: none;
}

.wmd-button {
  width: 20px;
  height: 20px;
  padding-left: 2px;
  padding-right: 3px;
  position: absolute;
  display: inline-block;
  list-style: none;
  cursor: pointer;
}

.wmd-button > span {
  background-image: url( image-path("active_admin_pagedown/wmd-buttons.png") );
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.wmd-spacer1 {
  left: 50px;
}
.wmd-spacer2 {
  left: 175px;
}
.wmd-spacer3 {
  left: 300px;
}



.wmd-preview > ul, .wmd-preview > ol {
  margin: 0 0 10px 25px !important;
}

.wmd-preview > p {
  margin: 0 0 10px !important;
}

.wmd-preview > ul > li {
  list-style: disc !important;
}

.wmd-prompt-dialog
  {
  border: 1px solid #999999;
  background-color: #F5F5F5;
}